@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

blockquote blockquote{
	margin: 1em 0;
}

/* poetry */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

/* letters */
[epub|type~="z3998:recipient"]{
	font-style: italic;
}

[epub|type~="z3998:recipient"] i{
	font-style: normal;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

#introduction [epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

/* placards */
#chapter-6 blockquote p,
#chapter-11 blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}
